@model MusicWebAPI.Models.Song

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update</title>

    <style>
        input{
            width: 800px;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm("Update", "Song", FormMethod.Post))
    { 
    <div class="form-horizontal">
        <h4>Song</h4>
        <hr />
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.IDZing, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IDZing, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <br />

        <div class="form-group">
            @Html.LabelFor(model => model.CategorySongID, "CategorySongID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CategorySongID", (List<SelectListItem>)ViewBag.items, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <br />

        <div class="form-group">
            @Html.LabelFor(model => model.DisplayName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DisplayName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <br />

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <br />

        <div class="form-group">
            @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <a href="https://mp3.zing.vn/xhr/media/get-source?type=audio&key=@Model.Code" target="_blank">@Model.Code</a>
        </div>
        <br />

        <div class="form-group">
            @Html.LabelFor(model => model.ArtistsNames, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ArtistsNames, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <br />

        <div class="form-group">
            @Html.LabelFor(model => model.Performer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Performer, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <br />

        <div class="form-group">
            @Html.LabelFor(model => model.Lyric, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Lyric, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <br />

        <div class="form-group">
            @Html.LabelFor(model => model.Thumbnail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Thumbnail, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <br />

        <div class="form-group">
            @Html.LabelFor(model => model.Duration, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <br />

        <div class="form-group">
            @Html.LabelFor(model => model.ViewCount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ViewCount, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <br />

        <div class="form-group">
            @Html.LabelFor(model => model.URL, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.URL, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cập nhật" class="btn btn-default" />
            </div>
        </div>
    </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
